h1{
    color: purple;
    
}

#header1{
    color: green;
}

#header3{
    color: red;
}

p{
 text-align: left;
 
}
.container{
    display: i;

}
div{
    padding: 10px;
    
    
}

.combine1{
    
    height: 50%;
    margin-right: 10px;
}


.div1{
    border: 4px solid green;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;

}
.div2{
    border: 4px solid purple;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.div3{
    border: 4px solid red;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}